html{
    background-color: #212529;
    font-family: "Open Sans";
    overflow-x: hidden;
}
.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    text-align: center;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}
.btn-cricle-control, .dropdown-check-list, .anchor{
    background-color: #212529;
    color: #ededee;
    font-size: small;
    font-weight: 600;
    border: #212529;
    padding: 5px;
    border-radius: 4px;
}


.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    font-weight: bold;
    font-size: 12px;
    color: #febc2c;
}

.dropdown-check-list.visible .items {
    display: block;
}

#filter-design, #all-pass, #real-time-filter{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
 #all-pass, #real-time-filter{
    flex-direction: column;
    gap: 10px;
 }

#filter-mag-response, #filter-phase-response{
    width: 100%;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2e32;
    border-radius: 8px;
    padding: 20px;
}

#filter-response, #all-pass-response, #real-time-filter-plots, #real-time-filter-plots{
    min-width: 60%;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

#final-filter-response{
    min-width: 50%;
}

#all-pass-response, #real-time-filter-plots{
    flex-direction: row;
}
#circle-control{
    gap: 5px;
    margin-top: 10px;
}

#circle-control, #circle-canvas, #all-pass-unit-circle, #real-time-filter-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5;
}
#all-pass-unit-circle, #real-time-filter-container{
    gap: 10px;
}

.btn-cricle-control:hover{
    color: #febc2c;
    cursor: pointer;
}

#circle-title, #all-pass-title{
    text-align: center;
    color: #ededee;
}

.freq-response-title, .title{
    margin: 0;
    color: #ededee;
}

.btn{
    background-color: #212529;
    color: #ededee;
    font-size: small;
    border: #212529;
    border-radius: 4px;
    padding: 5px;
}

#new-all-pass-coef{
    padding: 10px;
    font-weight: 600;
}

#csv-submitter, #stop-filtering{
    padding: 8px;
    font-weight: 600;
}

.btn:hover{
    color: #febc2c;
    cursor: pointer;
}

#new-value{
    max-width: 100px;
    background-color: #212529;
    color: #ededee;
    font-size: small;
    border: #212529;
    padding: 10px;
    border-radius: 4px;
}

#all-pass-response-container , .half-plot-container{
    min-width: 48%;
    max-height: 48%;
}

#all-pass-response-title, #final-filter-response-title{
    text-align: center;
    margin-bottom: 10px;
}

#real-time-filter-plots h4{
    text-align: center;
    margin-bottom: 5px;
}

#slider-value{
    margin-top: 3px;
    font-weight: bold;
    color: #0060df;
}

.response-plotting{
    min-height:40vh;
}

#zero{
    color: #febc2c;
}
